

/*  =====================For I PAD / TAB ======================== */

@media(max-width:768px){

    .header{
        width: 100%;
    }
    .nav-bar{
        background-color: aqua;
    }

    .bannar-container{
        display: block;
        background-color: rgb(39, 37, 37);
        padding-left: 0;
   
    }

    .bannar-text{
       width: 100%;
       text-align: center;
       padding-top: 40px;
    }
    .bannar-text h1{
        font-size: 30px;
    }
    .bannar-text h1::after{      
        margin-top: 40px;
        display: block;
        left: 0;
        right: 0;
        top:10px;
        margin: auto; 
    }
    .bannar-text p{
      display: none;
   }
   .bannar-img{
    display: block;
    width: 40%;
    height: 329px;
    margin: 0 auto;
    padding-right: 0;  
 }
  /* ============ About Section================ */
 .about-container{
    background-color: rgb(99, 91, 150);
    display: flex;
    flex-direction: column; 
    align-items: center;  
 }
 .about-title{
    width: 100%;
    text-align: center;  
 }

 .about-title h5{
    color:rgb(230, 142, 10);
    font-size: 25px;
    margin-left: 0;
    padding-left: 0;
  }
 .about-title h2{
  padding-top: 20px;
  padding-left: 0;
  color: white;
  font-size: 30px;

 }

 .about-title h2::after{
    margin-top: 40px;
    display: block;
    left: 0;
    right: 0;
    top:10px;
    margin: auto; 
}
.about-title p{
    display: none;
}
.about-description{
    width: 100%;
}
.about-description button{
    display: block;
    margin: 0 auto;    
}
/* ============Service================== */
.service{
    width: 100%;
}
.service-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.service-item{
    width: 100%;
    height: 400px;
}

.service-item img{
    height: 100%;  
}
.img-desc{
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;    
} 
.img-desc h3,p{
    text-align: center;
    display: block;
    margin: 0 auto;
}
.img-desc h3{
    padding-bottom: 30px;
}

.img-desc h3::after{
    display: block;
    left: 0;
    right: 0;
    top:15px;
    margin: auto;    
}

/*  ===============Offer Section=============== */

.offer-container{
    width: 100%; 
}

.offer-container h4{
    padding-top: 10px;
    font-size: 18px; 
}

.offer-container h2{
    padding-top: 10px;
    
}

.offer-item-container{
    display: block;
}

.offer-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(93, 139, 139);
    
}
.offer-item i{
    display: block;
    margin: 0 auto;
    color: black;
}
.offer-item-desc h3{
    font-size: 24px;
    color: black;    
}

.offer-item-desc p{
    text-align: center;
    color:  black;  
}

/* ==============Portfolio===================== */
.portfolio{
    width: 100%;
}

/* ===============Construction ================== */
.construction{
    width: 100%;
  }
  .construction-container{
      flex-direction: column;
  }

  .constuction-desc{
     
      background-color: teal;
  
  }
  .constuction-desc h3{
      padding-top: 10px; 
  }
  .constuction-desc h2{
      padding-top: 10px; 
  }
  .constuction-desc h2::after{ 
      top:10px;
      
  }
  .constuction-desc p{
      margin-top: 30px;
      padding-right: 25px;
      padding-left: 25px;
  }
  
  .constuction-desc button{
      width: 120px;
      display: block;
      margin: auto;
  }
  
/*  ================Portfolio================ */
.portfolio-galary{
    
    display:block;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
.portfolio-galary img{
     height: 350px;
     width: 100%;
     display: block;
     margin: 10px auto;        
}
.construction-container{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: wheat;
    align-items: center;
}
.blank{
    width: 100%;   
}
.constuction-desc{
    width: 100%;
    
}
.constuction-desc h3{
    color:rgb(230, 142, 10); 
    padding-top: 40px;
    text-align: center;   
}
.constuction-desc h2{
    color: black;
    text-align: center; 
}
.constuction-desc h2::after{      
    margin-top: 40px;
     display: block;
     left: 0;
     right: 0;
     top:10px;
     margin: auto; 
 }
.constuction-desc p{  
    padding: 10px;  
}
.constuction-desc button{  
 display: block;
 margin: 10px auto;
}

/*   ===============score ================== */

.score{
    width: 100%;
}



/* ============== work  section=========== */
.work{
    width: 100%;
}

.work-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.work-card{
   border: 1px solid black;
  
}
 .work-card i {
margin-top: 10px;
} 

.work-card h1{
    color: black;
    font-size: 22px;
    text-align: center;
    padding-top: 20px;
}

.work-card p{
    color: black;
    text-align: center;
    padding: 10px;
    text-align: justify;
}



/* =============Testimonials=========== */
.testimonial{
    width: 100%;
    padding-top: 0px;
}

.testimonial-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top:10px;
    padding-bottom: 10px;
}
.testimonial-card{
   width: 100%;
   margin-top:20px;
   border: none;
}
.testimonial-card p{
    border: none;
    padding: 40px;
}
.testimonial-image{
    width: 150px;
    height: 150px;
    transition: 0.5s;
}

.testimonial-image img{
    width: 100%;
    margin-top: 30px;  
}
.testimonial-card h1{
    margin-top: 20px;
    text-align: center;
    
}
 
.testimonial-card h4{
    color: yellow;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;

}

/* ================Brand Section========= */

.brand{
  display: none;
}

/* ==========================Blog ============== */

.blog{
    width: 100%;
  
}

.blog-container{
    display: flex;
    flex-direction: column;

}

.blog-card img{
    height: 450px;
    width: 100%;
    border: 2px solid black;
}

/* ============== purchase============= */

.purchase-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.purchase-btn button{
    padding: 10px;
    border: 1px solid white;
    background: transparent;
    display: block;
    margin: 0 auto;
}

/* ===========footer=========== */
.footer-container{
    width: 100%;
}
}
/*  =====================For moblile======================== */


@media( max-width:400px){
   
    .nav-bar{
        background-color: rgb(71, 78, 175);
        
    }
     .logo{
        font-size: 20px;
        margin: 8px 10px;      
     }

     .header span{
        font-size: 24px;
    }
    
    .bannar-text h1{
        font-size: 20px;
    }
    .bannar-text h1::after{      
    width: 35px;
    }
   .bannar-img{
    width: 40%;
    margin: 0 auto;
    
 }
  /* ============ About Section================ */

 .about-title h5{
    font-size: 17px;
  }
  .about-title{
   
   margin: 0; 
    
 }
 .about-title h2{
  color: white;
  font-size: 23px;
  text-align: center;
  margin: 0;
  padding: 0;

 }
.about-description{
padding-top: 30px; 
padding-bottom: 20px;
}
.about-description button{
    display: block;
    margin: 0 auto;    
}
/* ============Service================== */
.service{
    width: 100%;  
}
.service-container{
    height: 600px;
}
.service-item{
    height: 200px;
    position: relative;   
}
.service-item img{
    height: 100%;
}
.img-desc{
    position: absolute;
    top:40px;
    left: 0;

} 
.img-desc h3,p{
    text-align: center;
    margin:0;
    padding: 20px 10px 0 20px; 
}

/*  ===============Offer Section=============== */

.offer-container{
    width: 100%; 
}

.offer-container h4{
    padding-top: 10px;
    font-size: 18px; 
}

.offer-container h2{
    padding-top: 10px;
    
}

.offer-item-container{
    display: block;
}

.offer-item{
    padding-top: 20px;
}
.offer-item-desc p{
    text-align: center;
    color:  black;
    padding-bottom: 20px; 
}
    
/* ==============Portfolio===================== */


/* ===============Construction ================== */



/*   ===============score ================== */

.score{
   display: none;
}




/* ============== work  section=========== */



/* =============Testimonials=========== */


.testimonial-container{
    margin-top:5px;
    padding-bottom: 5px;
}
.testimonial-card{
   margin-top:10px
}
.testimonial-card p{
    border: none;
    padding: 20px;
}
.testimonial-image img{
    margin-top: 15px;  
}
.testimonial-card h1{
    margin-top: 30px;
    
}
 
/* ================Brand Section========= */

.brand{
    display: none;
}
/* ==========================Blog ============== */

.blog-card img{
    height: 250px;
    width: 100%;
    border: 2px solid black;
}

/* ============== purchase============= */

.purchase-container{
    width: 100%;
}


/* ===========footer=========== */

.footer-container{
 width: 100%; 

} 
}
